body{
  font-family: "PT Sans Caption", sans-serif;
  box-sizing: border-box;
  
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}

main{
  min-height: 100vh;
 
 background-color:  #f7ecde;
}
h1{
  font-size: 50px;
    font-family: "Pacifico", cursive;
    color: #352e28;
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
    z-index: 1;
    
}

main h1::after{
  content: " ";
  position: absolute;
  width: 100%;
  height: 25%;
  left: 0;
  bottom: 10px;
  background-color: #fec260;
  transition: all 350ms;
  z-index: -1;
}

main h1:hover::after{
 height: 50%;
}
main .bookmarket{
  border-width: 2px 0 2px 0;
    border-style: dotted;
    border-color: #352e28;
}
main .bookmarket h2
{
   font-family: "Righteous", sans-serif;
    font-size: 25px;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);
    background-clip: text;
    color: transparent;
}

.bookmarkname .form-control:focus{
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 251, 0.25) !important;
}

button.btn{
  background-color: #c05639;
  
}
button.btn:hover{
  background-color: #BB4120;
}
a{
  text-decoration: none;
  color: inherit;
}

.circles span {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  
}
.circles span:nth-child(1) {
  background-color: #f15f5d;
}
.circles span:nth-child(2) {
  background-color: #febe2e;
}
.circles span:nth-child(3) {
  background-color:#4db748;
}


.lightcontainer{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% ;
  z-index: 99;
  background-color: rgba(0, 0, 0,0.7);
 

}
.box-content{
  width: 30%;
  height: 45%;
  background: white; /* إضافة خلفية لاختبار الرؤية */
  margin: auto; /* يجعلها في المنتصف */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

